<div class="form-container">
  <h1>Morrissey Bot</h1>

  <img src="https://consequenceofsound.files.wordpress.com/2016/05/morrissey-riot-fest.png"></img>

  <%= form_tag do %>
    <%= text_field_tag :text, @query %>
    <%= submit_tag "Tell me what you think!" %>
  <% end %>

  <p><%= @text %></p>
</div>
