/* line 4, /Users/taylorjones/Desktop/test-lab/rails/helix-test/app/assets/stylesheets/morrisey_requests.scss */
input[type="text"] {
  height: 15%;
  width: 40%;
}

/* line 9, /Users/taylorjones/Desktop/test-lab/rails/helix-test/app/assets/stylesheets/morrisey_requests.scss */
.form-container {
  margin-left: 30%;
}

/* line 13, /Users/taylorjones/Desktop/test-lab/rails/helix-test/app/assets/stylesheets/morrisey_requests.scss */
img {
  max-width: 60%;
  max-height: 40%;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

